# Build outputs
build/
.gradle/
out/

# Compiled classes
*.class

# JARs (poza źródłami)
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Mappings (generowane)
mappings/

# Skidfuscator śmieci
skidfuscator-error-*.txt
skidfuscator.log
skidfuscator.jar
skidfuscator.hocon
skidfuscator.yml

# Payload / encrypt pliki
payload*.txt
payload*.b64
encrypted_payload.b64
payload_hex.txt
payload_simple.b64

# Python cache
__pycache__/
*.pyc

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Stare pliki
old-working.jar
proguard-dict.txt
x/
pl/
